body{
    background: rgba(194, 194, 194, 0.5);
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
    /* background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%); */
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    background-size:cover;
}
